@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  body:has(.header) & {
    padding-block-end: var(--header-height, #{vw(72)});
  }
}
