@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.actions {
  display: flex;
  align-items: center;
  column-gap: vw(12);

  // .actions__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: vw(42);
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-theme;
    border: vw(1) solid;
    border-radius: 50%;

    // .actions__button--active
    &--active {
      color: variables.$color-white;
      border-color: variables.$color-theme;
      background-color: variables.$color-theme;
    }

    svg {
      width: calc((var(--actions-icon-width, 17) * 100 / 375) * 1vw);
      height: vw(17);
    }
  }
}
