@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.checkbox {
  // .checkbox__label
  &__label {
    display: flex;
    align-items: center;
    column-gap: vw(8);
    font-weight: 500;
  }

  // .checkbox__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: vw(24);
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: rgba(255, 255, 255, 0);
    border: vw(1) solid rgba(117, 101, 125, 0.2);
    border-radius: vw(2);

    .checkbox:has(.checkbox__input:checked) & {
      color: variables.$color-white;
      background-color: variables.$color-theme;
      border-color: variables.$color-theme;
    }

    svg {
      width: vw(15);
      height: vw(12);
    }
  }

  // .checkbox__text
  &__text {
  }

  // .checkbox__input
  &__input {
  }
}
