@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.compatilibity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--compatilibity-gap, #{vw(16)});

  // .compatilibity__progress
  &__progress {
    position: relative;
    flex: 1 1 auto;
    block-size: 10px;
    font-size: 0;
    background-color: var(--compatilibity-background-color, #f9f9f9);
    border-radius: vw(10);
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;
      inline-size: var(--progress);
      block-size: 100%;
      background: #ace39c;
      border-radius: inherit;
    }
  }

  // .compatilibity__text
  &__text {
    font-weight: var(--compatilibity-font-weight, 500);
    font-size: var(--compatilibity-font-size);
    text-align: end;
  }
}
