@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.find-card {
  block-size: 100%;

  // .find-card__top
  &__top {
    aspect-ratio: 343 / 358;
    border-start-start-radius: vw(20);
    border-start-end-radius: vw(20);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 72%);
    }
  }

  // .find-card__buttons
  &__buttons {
    position: absolute;
    inset-block-start: vw(10);
    inset-inline: vw(16) vw(10);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: vw(16);
  }

  // .find-card__location
  &__location {
  }

  // .find-card__remove
  &__remove {
  }

  // .find-card__content
  &__content {
    position: relative;
    margin-block-start: vw(-16);
    padding-block: vw(10) vw(16);
    padding-inline: vw(16) vw(10);
    background-color: variables.$color-white;
    border: vw(0.5) solid rgba(117, 101, 125, 0.2);
    border-radius: vw(20);
  }

  // .find-card__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: vw(16);
    margin-block-end: vw(16);
  }

  // .find-card__about
  &__about {
  }

  // .find-card__name
  &__name {
  }

  // .find-card__type
  &__type {
    margin-block-start: vw(6);
  }

  // .find-card__like
  &__like {
  }

  // .find-card__compatilibity
  &__compatilibity {
    --compatilibity-gap: #{vw(21)};
    --compatilibity-font-weight: 500;

    margin-block-end: vw(16);
  }

  // .find-card__links
  &__links {
  }
}
