@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: vw(6);
  inline-size: fit-content;
  min-block-size: vw(24);
  padding-block: vw(4);
  padding-inline: vw(16);
  border: vw(0.5) solid rgba(117, 101, 125, 0.2);
  border-radius: vw(20);

  // .location__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-theme;

    svg {
      width: vw(12);
      height: vw(16);
    }
  }

  // .location__text
  &__text {
  }
}
