@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: vw(18);
  inline-size: fit-content;
  min-block-size: 24px;
  margin-inline: auto;
  padding-block: vw(5);
  padding-inline: vw(16);
  font-weight: 500;
  color: variables.$color-theme;
  background-color: variables.$color-white;
  box-shadow: vw(1) vw(1) vw(5) 0 rgba(117, 101, 125, 0.15);
  border-radius: vw(30);

  // .more-button__text
  &__text {
  }

  // .more-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    .has-more--show & {
      transform: rotate(180deg);
    }

    svg {
      width: vw(10);
      height: vw(6);
    }
  }
}
