@use "../../variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.people-name {
  font-weight: 500;
  font-size: vw(16);
  line-height: 1;
}

.people-type {
  color: variables.$color-theme;
}
