@use "../src/scss/variables/variables";

@function vw($unit) {
  @return calc(($unit * 100 / 375) * 1vw);
}

.find {
  padding-block: vw(24) vw(35);

  // .find__container
  &__container {
  }

  // .find__button
  &__button {
    margin-block-end: vw(24);
  }

  // .find__form
  &__form {
  }

  // .find__list
  &__list {
  }
}

.find-form {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: variables.$color-white;
  overflow-x: hidden;
  overflow-y: auto;

  &:not(&--show) {
    visibility: hidden;
  }

  // .find-form--show
  &--show {
    body:has(&) {
      overflow: hidden;
    }
  }

  // .find-form__header
  &__header {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: vw(84) 1fr vw(84);
    align-items: center;
    gap: vw(16);
    min-block-size: vw(54);
    margin-block-end: vw(7);
    padding-inline: vw(16);
    background-color: variables.$color-white;

    &::before {
      content: "";
    }
  }

  // .find-form__title
  &__title {
    font-size: vw(18);
    line-height: 1.2;
    text-align: center;
  }

  // .find-form__reset
  &__reset {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: vw(24);
    padding-block: vw(5);
    padding-inline: vw(16);
    font-weight: 500;
    color: variables.$color-theme;
    background-color: variables.$color-white;
    box-shadow: vw(1) vw(1) vw(5) 0 rgba(117, 101, 125, 0.15);
    border-radius: vw(30);
  }

  // .find-form__inner
  &__inner {
    flex: 1 1 auto;
  }

  // .find-form__fieldset
  &__fieldset {
    &:not(:last-child) {
      margin-block-end: vw(48);
    }
  }

  // .find-form__label
  &__label {
    margin-block-end: vw(16);
    padding-inline: vw(16);
    font-weight: 600;
    font-size: vw(14);
    line-height: 1.2;
  }

  // .find-form__row
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: vw(12);
    column-gap: vw(24);
    padding-inline: vw(16);
  }

  // .find-form__checkbox
  &__checkbox {
    .find-form__list & {
      display: flex;
      align-items: center;
      min-block-size: vw(56);
      padding-inline: vw(16);

      &:not(:last-child) {
        border-block-end: vw(0.5) solid rgba(117, 101, 125, 0.2);
      }

      &:first-child,
      &:last-child {
        min-block-size: vw(40);
      }

      &:first-child {
        align-items: start;
      }

      &:last-child {
        align-items: end;
      }
    }
  }

  // .find-form__list
  &__list {
  }

  // .find-form__bottom
  &__bottom {
    position: sticky;
    inset-block-end: 0;
    z-index: 1;
    padding-block: vw(16) vw(48);
    padding-inline: vw(16);
    background-color: variables.$color-white;
  }

  // .find-form__submit
  &__submit {
  }
}

.find-list {
  // .find-list__item
  &__item {
    &:not(:last-child) {
      margin-block-end: vw(8);
    }
  }
}

.find-links {
  // .find-links__block
  &__block {
    &:not(:last-child) {
      margin-block-end: vw(12);
    }
  }

  // .find-links__title
  &__title {
    margin-block-end: vw(6);
    font-weight: 600;
    font-size: vw(12);
    line-height: 1.2;
  }

  // .find-links__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: vw(4);
  }

  // .find-links__item
  &__item {
  }

  // .find-links__link
  &__link {
  }
}
